<span class="navbar-brand" style="margin-right: -20px" *ngIf="currentUser">
    <a routerLink="perfil" type="button" class="far fa-user" data-container="body" data-toggle="popover" data-placement="left" ></a>
    <a (click)="logout()" type="button" class="fas fa-sign-out-alt" data-container="body" data-toggle="popover" data-placement="left"  style="margin-left: 10px"></a>
</span>


<ul class="navbar-nav navbar-right" *ngIf="!currentUser">
  <a class="btn btn-outline-success1 my-2 my-sm-0" type="submit" routerLink="/login">Login</a>
</ul>
