<div class="row">
  <div class="col-md-6 col-lg-4" *ngFor="let receita of receitas" >
    <a class="portfolio-item d-block mx-auto" routerLink="/receita/{{receita.id}}">
      <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">

        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white" >
          <h5>{{ receita.nome }}</h5>
        </div>

      </div>
      <img class="img-fluid" src="https://luispaisalves4.pythonanywhere.com{{receita.imagem}}" alt="">
    </a>
  </div>
</div>
