
<main role="main">
  <div>
    <p></p>
    <header class="masthead text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">Pitadinha</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Pratos Originais - Sabores Inesquecíveis - Sobremesas Memoráveis</h2>
      </div>
    </header>

    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Receitas mais Populares</h2>
        <hr class="star-dark mb-5">
        <app-portfolio staticdata="initialpage"></app-portfolio>
      </div>
    </section>


  </div>
</main>
